<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPgp7DLJ6Lgl5n1EoNNsbGpMsr7kXy3Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>902364881984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.control.sensorControlFront</string>
	<key>PROJECT_ID</key>
	<string>esp32-sensor-6ec3b</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32-sensor-6ec3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902364881984:ios:639eb60d8aa41800c4aba5</string>
	<key>DATABASE_URL</key>
	<string>https://esp32-sensor-6ec3b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>